.n-barc {
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    overflow: hidden;

  li {
    float: left;
    background-color: #333;

  }

  li span {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
  }

  li span:hover:not(.active) {
    background-color: #111;
  }

  .active {
    background-color: #737c79;;
  }
}